
<section id="bienvenida" class="page-section">
    <div class="container">
        <div class="col-md-4 col-sm-12">
            <div class="section-heading">
                <h4>BIBLIOTECA DIGITAL RAFAEL DELGADO</h4>
               
               <div class="line-dec"></div>
               
                <p>Bienvenido!!</p>
                <div class="filter-categories">
                    
                    <ul class="project-filter">
                        <li class="filter" data-filter="all"><span></span></li>
                    
                        <li class="filter" data-filter="nature"><span>
                         <p>Recuerda: que Leer es como darle una dosis de vitaminas al cerebro, 
                                vitaminas llenas de imaginación que aumentan nuestra 
                                creatividad y nos abren nuevas ventanas al saber, 
                                nos llevan a otros mundos o hacen que nos replanteemos los nuestros. 
                                Quizás, incluso, nos dan remedios a problemas que creíamos 
                                que no tenían solución
                            </p></span></li>
                            <img src="/assets/img/4.jpg" width="200"/>
                         </ul>
                       
                </div>
            </div>
        </div>
