
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            
    
            
             <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">INICIO</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">SOMOS</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">LIBROS DISPONIBLES</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Contactos</a></li>
                    <li><a href="#" class="scroll-link" data-id="bienvenida">Bienvenido</a></li>
                </ul>
            </div>
            
            
            
            
            
            
         
        </nav>
     
    </div>

</div>



<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em></em> <span>BIBLIOTECA DIGITAL ACCESO GRATUITO</span> </h2>
            
        </div>
    </div>
</div>


