<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4> Contactos de Servicio</h4>
                    <div class="line-dec"></div>
                 
                    </div>
                    

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Redes sociales</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Ubicación</h4>
                    <ul>
                        <li>Benito JUÁREZ,PRIMER BARRIO <br>RAFAEL DELGADO </li>
                        <li>C.P. 94410, <br>VERACRUZ, MÉXICO</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Inf.</h4>
                    <ul>
                        <li><em>Tel</em>: <br>
                             223876438</li>
                        <li><em>Email</em>: Brafaeldelgado.com<br>
                         </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

            </div>
        </div>
        
    </div>
</div>